.logsList {
  &_item {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    &_created {
      white-space: nowrap;
      color: var(--muted-foreground);
      display: block;
      width: 160px;
    }
    &_main {
      flex: 1;
      overflow: hidden;
    }
    &_scriptName {
      color: var(--muted-foreground);
    }
    &_timeStr {
      color: var(--muted-foreground);
    }
    &_results {
      display: flex;
      gap: 10px;
      margin-left: auto;
      &_success {
        var {
          color: green;
        }
      }
      &_fail {
        var {
          color: red;
        }
      }
      &_junk {
        var {
          color: orange;
        }
      }
      &_duplicates {
        var {
          color: var(--muted-foreground);
        }
      }
    }
  }
}

.solsList {
  &_item {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    pre {
      font-size: 10px;
    }
    &_actionData {
      color: var(--muted-foreground);
      font-size: 12px;
    }
    &_actionType {
      margin-left: auto;
    }
    &_created {
      white-space: nowrap;
      color: var(--muted-foreground);
      display: block;
      width: 160px;
    }
    &_main {
      flex: 1;
      overflow: hidden;
    }
  }
}

.page {
  padding: 0 20px 20px 20px;
  min-height: calc(100vh - 95px);

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
