.logsList {
  &_item {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    &_created {
      white-space: nowrap;
      color: #c7c7c7;
      display: block;
      width: 160px;
    }
    &_main {
      flex: 1;
    }
    &_scriptName {
      color: #c7c7c7;
    }
    &_timeStr {
      color: #c7c7c7;
    }
    &_results {
      display: flex;
      gap: 10px;
      margin-left: auto;
      &_success {
        var {
          color: green;
        }
      }
      &_fail {
        var {
          color: red;
        }
      }
      &_junk {
        var {
          color: orange;
        }
      }
      &_duplicates {
        var {
          color: #c7c7c7;
        }
      }
    }
  }
}

.solsList {
  &_item {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    pre {
      font-size: 10px;
    }
    &_actionData {
      color: #c7c7c7;
      font-size: 12px;
    }
    &_actionType {
      margin-left: auto;
    }
    &_created {
      white-space: nowrap;
      color: #c7c7c7;
      display: block;
      width: 160px;
    }
    &_main {
      flex: 1;
    }
  }
}

.page {
  padding: 0 20px;
}
