.footer {
  display: flex;
  padding: 10px 20px;
}

.header {
  display: flex;
  padding: 10px 20px;
  gap: 10px;
  &_rightCol {
    display: flex;
    gap: 10px;
    margin-left: auto;
  }
}

.pagination {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-left: auto;
  &_input {
    display: inline-block;
    text-align: center;
    width: 50px;
  }
}

.searchInput {
  width: 200px;
}
