@use "sass:map";
@use "../../variables";

.page {
  max-width: 100vw;
  padding: 0 20px;
}

.sol {
  max-width: 100%;
  display: flex;
  padding: 10px;
  padding-left: 0;

  &_actions {
    float: left;
    margin-right: 5px;
    text-align: center;
    width: 50px;
    &_likeButton {
      border-radius: 50%;
      &__active {
        border: 1px solid red;
        border-radius: 50%;
      }
    }
  }

  &_cnType {
    margin-bottom: 5px;
    > button {
      margin-left: auto;
    }
  }

  &_contentCol {
    flex: 1 1 100%;
    max-width: 100%;

    label {
      margin-right: 10px;
    }
  }

  &_datesCol {
    padding-left: 10px;
    text-align: right;
    white-space: nowrap;
    > * {
      display: block;
    }
    > span {
      margin-bottom: 5px;
    }
  }

  &_description {
    color: var(--muted-foreground);
    display: block;
    margin-bottom: 5px;
  }

  &_descriptionBox {
    margin-top: 5px;
  }

  &_externalLinks {
    a {
      white-space: nowrap;
    }
  }

  &_issuerRow {
    > * {
      margin-right: 5px;
    }
  }

  &_category,
  &_keyword {
    border: 1px solid var(--border);
    display: inline-block;
    margin: 0 5px 3px 0;
    padding: 0 10px;
  }

  &_categories,
  &_keywords {
    > label {
      margin-right: 5px;
    }
  }

  &_logsContent {
    &_log {
      border-bottom: 1px solid var(--border);
      display: flex;
      width: 100%;
      padding: 10px 20px;
      pre {
        display: block;
        color: var(--muted-foreground);
        margin: 0;
        max-width: 60vw;
        overflow-y: auto;
      }
      &_actionType {
        margin-left: auto;
      }
      &_created {
        white-space: nowrap;
        color: var(--muted-foreground);
        display: block;
        width: 160px;
      }
    }
  }

  &_ourStatus {
    margin-bottom: 5px;
    > button {
      margin-left: auto;
    }
    &[data-status="submitted"],
    &[data-status="awarded"] {
      > button {
        @extend .sol_ourStatus_submitted;
        border-color: map.get(variables.$statusColors, "submitted");
      }
    }
    &[data-status="rfps"],
    &[data-status="monitor"] {
      > button {
        @extend .sol_ourStatus_rfps;
        border-color: map.get(variables.$statusColors, "rfps");
      }
    }
    &[data-status="erp"] {
      > button {
        @extend .sol_ourStatus_erp;
        border-color: map.get(variables.$statusColors, "erp");
      }
    }
    &[data-status="notWon"] {
      > button {
        @extend .sol_ourStatus_notWon;
        border-color: map.get(variables.$statusColors, "notWon");
      }
    }
    &[data-status="notPursuing"] {
      > button {
        @extend .sol_ourStatus_notPursuing;
        border-color: map.get(variables.$statusColors, "notPursuing");
      }
    }
  }

  &_sourceRow {
    > * {
      margin-right: 5px;
    }
  }

  &_tabs {
    &_commentsContent {
      &_comment {
        border-bottom: 1px solid var(--border);
        color: gray;
        padding: 10px 20px;
        &_author {
          font-weight: 500;
          margin-right: 10px;
        }
        &_body {
          display: block;
        }
      }
    }
    &_documentsContent {
      &_document {
        border-bottom: 1px solid var(--border);
        padding: 5px 10px;
      }
    }
  }

  &_title {
    font-weight: bold;
    display: block;
  }

  :global(pre.json) {
    border: 1px solid var(--border);
    padding: 10px;
    font-size: 14px;
    max-height: 300px;
    max-width: 70vw;
    overflow: auto;
  }
}

.sol_ourStatus_submitted,
.sol_ourStatus_awarded {
  color: map.get(variables.$statusColors, "submitted");
}
.sol_ourStatus_rfps,
.sol_ourStatus_monitor {
  color: map.get(variables.$statusColors, "rfps");
}
.sol_ourStatus_erp {
  color: map.get(variables.$statusColors, "erp");
}
.sol_ourStatus_notWon {
  color: map.get(variables.$statusColors, "notWon");
}
.sol_ourStatus_notPursuing {
  color: map.get(variables.$statusColors, "notPursuing");
}
