@use "variables";

.layout {
  font-size: 15px;
  padding: 0;
  padding-bottom: 0;

  a[href] {
    color: variables.$blue;
  }

  button {
    cursor: pointer;
  }

  label {
    margin-top: 5px;
    font-size: 12px;
  }

  &_header {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    padding: 20px 20px 0 20px;
    :global(h1) {
      font-weight: bold;
      font-size: 26px;
      margin-right: 20px;
    }
  }

  &_footer {
    display: none;
    font-size: 13px;
    margin-top: 20px;
  }

  &_nav {
    a[href] {
      color: gray;
      font-size: 20px;
      padding: 5px;
      &[data-state="active"] {
        color: #666;
        font-weight: bold;
      }
    }
  }

  &_userBox {
    position: absolute;
    top: 10px;
    right: 20px;

    &_avatar {
      width: 50px;
      height: 50px;
    }
  }
}
