.aiChat {
  height: 100vh;
  min-width: 350px;
}

.cendienLogo {
  margin-right: 5px;
  width: 30px;
}

.layout {
  width: calc(100vw - 350px);
  min-width: 350px;

  &_header {
    :global(h1) {
      font-weight: bold;
      font-size: 26px;
      margin-right: 20px;
    }
    &_1stRow {
      display: flex;
      align-items: center;
      padding: 5px 20px 5px 20px;
      gap: 10px;
    }
    &_2ndRow {
      display: flex;
      align-items: baseline;
      margin-bottom: 10px;
      padding: 5px 20px 0 20px;
    }
  }

  &_footer {
    display: none;
    font-size: 13px;
    margin-top: 20px;
  }

  &_nav {
    a[href] {
      color: gray;
      font-size: 20px;
      padding: 5px;
      &[data-state="active"] {
        color: #666;
        font-weight: bold;
      }
    }
  }

  &_userBox {
    display: flex;
    align-items: top;
    position: absolute;
    top: 10px;
    right: 20px;
    gap: 10px;
    z-index: 1;

    &_avatar {
      width: 50px;
      height: 50px;
    }
  }
}

.layoutWrapper {
  font-size: 15px;
}
