.aiChat {
  height: 100vh;
  display: none;
}

.cendienLogo {
  margin-right: 5px;
  width: 30px;
}

.layout {
  font-size: 15px;
  padding: 0;
  padding-bottom: 0;
  flex: 1;
  width: 100vw;

  &_header {
    :global(h1) {
      font-weight: bold;
      font-size: 26px;
      margin-right: 20px;
    }
    &_1stRow {
      display: flex;
      align-items: center;
      padding: 5px 20px 5px 20px;
      gap: 10px;
    }
    &_2ndRow {
      display: flex;
      align-items: baseline;
      margin-bottom: 10px;
      padding: 5px 20px 0 20px;
    }
  }

  &_footer {
    display: none;
    font-size: 13px;
    margin-top: 20px;
  }

  &_nav {
    a[href] {
      color: gray;
      font-size: 20px;
      padding: 5px;
      &[data-state="active"] {
        color: #666;
        font-weight: bold;
      }
    }
  }

  &_userBox {
    display: flex;
    align-items: top;
    position: absolute;
    top: 10px;
    right: 20px;
    gap: 10px;

    &_avatar {
      width: 50px;
      height: 50px;
    }
  }
}

.layoutWrapper {
  display: flex;
}

.showRightPanel {
  .aiChat {
    border-left: 1px solid #eee;
    display: block;
    flex: 0 0 350px;
    width: 350px;
  }

  .layout {
    width: calc(100vw - 350px);

    &_userBox {
      right: 370px;
    }
  }
}
