.sol {
  &_textarea {
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px 0;
    height: calc(100vh - 300px);
    width: 100%;
    &__error {
      border: 1px solid red;
      padding: 10px;
      margin: 10px 0;
      height: calc(100vh - 300px);
      width: 100%;
    }
  }
  &_title {
    font-weight: bold;
    display: block;
  }
}

.submitError {
  color: red;
}
