.page {
  padding: 0 20px;
  height: calc(100vh - 95px);
  overflow-y: auto;

  article {
    margin-bottom: 20px;
  }

  b {
    font-weight: 700;
  }

  h2 {
    font-size: 19px;
    font-weight: bold;
    letter-spacing: -1px;
  }

  ul {
    padding-left: 20px;
  }
}

.image {
  display: inline-block;
  width: 200px;
  border: 1px solid #eee;
  margin: 10px;
}
