.form {
  max-height: 70vh;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
  overflow-y: auto;
  div[data-slot="form-item"] {
    gap: 2px;
  }
  [data-slot="form-label"] {
    padding-top: 10px;
    padding-bottom: 2px;
  }
  [data-slot="form-message"] {
    font-size: 12px;
    margin-top: -2px;
  }
}

.formError {
  color: red;
  font-size: 12px;
  flex: 1 1 auto;
}
