.filterBar {
  margin-right: 20px;
  width: 220px;

  &_other {
    button[role="checkbox"] {
      margin-right: 10px;
    }
  }

  > section > label {
    display: block;
    margin-top: 10px;
  }
}
