.filterOptions {
  margin-right: 20px;
  width: 220px;

  > section > label {
    display: block;
    margin-top: 10px;
  }

  &_other {
    button[role="checkbox"] {
      margin-right: 10px;
    }
  }

  &_status {
    &[data-value="none"],
    &[data-value="new"] {
      > button {
        @extend .cnStatusItem_none;
      }
    }
    &[data-value="ignore"],
    &[data-value="notPursuing"] {
      > button {
        @extend .cnStatusItem_ignore;
      }
    }
    &[data-value="pursuing"],
    &[data-value="processing"] {
      > button {
        @extend .cnStatusItem_pursuing;
      }
    }
    &[data-value="applied"] {
      > button {
        @extend .cnStatusItem_applied;
      }
    }
  }
}

.cnStatusItem_none,
.cnStatusItem_new {
  background-color: inherit;
  color: inherit;
}
.cnStatusItem_ignore,
.cnStatusItem_notPursuing {
  background-color: var(--muted);
  color: gray;
}

.cnStatusItem_pursuing,
.cnStatusItem_processing {
  background-color: lightgreen;
}

.cnStatusItem_applied {
  background-color: green;
  color: white;
}
