.pageMain {
  display: flex;
}

.pageMain_solsSection {
  width: calc(100vw - 240px);
  &_list {
    height: calc(100vh - 170px);
    overflow-y: auto;
  }
  &_pagination {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 5px;
    &_page {
      width: 50px;
      text-align: center;
    }
  }
}
