.page {
  padding: 0 20px;
}

.pageMain_solsSection {
  &_list {
    border: 2px solid #eee;
    border-radius: 15px;
    height: calc(100vh - 195px);
    margin: 10px 0;
    overflow-y: auto;
  }
  &_pagination {
    display: flex;
    align-items: center;
    gap: 5px;
    &_page {
      width: 50px;
      text-align: center;
    }
    &_perPage {
      align-items: center;
      display: flex;
      gap: 10px;
      margin-left: auto;
    }
  }
}
