@use "sass:map";
@use "../variables";

.sol {
  border-bottom: 1px solid #eee;
  display: flex;
  padding: 5px 10px 0 10px;

  &_cnStatus {
    margin-bottom: 5px;
    > button {
      margin-left: auto;
    }
    &[data-status="submitted"],
    &[data-status="researching"],
    &[data-status="pursuing"],
    &[data-status="preApproval"],
    &[data-status="negotiation"],
    &[data-status="awarded"] {
      > button {
        @extend .sol_statusItem_submitted;
        border-color: map.get(variables.$statusColors, "submitted");
      }
    }
    &[data-status="rfps"],
    &[data-status="monitor"],
    &[data-status="foia"] {
      > button {
        @extend .sol_statusItem_rfps;
        border-color: map.get(variables.$statusColors, "rfps");
      }
    }
    &[data-status="erp"] {
      > button {
        @extend .sol_statusItem_erp;
        border-color: map.get(variables.$statusColors, "erp");
      }
    }
    &[data-status="notWon"] {
      > button {
        @extend .sol_statusItem_notWon;
        border-color: map.get(variables.$statusColors, "notWon");
      }
    }
    &[data-status="notPursuing"] {
      > button {
        @extend .sol_statusItem_notPursuing;
        border-color: map.get(variables.$statusColors, "notPursuing");
      }
    }
  }

  &_cnType {
    margin-bottom: 5px;
    > button {
      margin-left: auto;
    }
  }

  &_contentCol {
    flex: 1 1 100%;

    label {
      margin-right: 5px;
    }
  }

  &_datesCol {
    color: variables.$lightGray;
    display: flex;
    gap: 20px;
  }

  &_description {
    color: #666;
    display: block;
    margin-bottom: 5px;
  }

  &_descriptionBox {
    margin-top: 5px;
  }

  &_externalLinks {
    a {
      display: block;
      white-space: nowrap;
      max-width: 50vw;
    }
  }

  &_issuerRow {
    white-space: nowrap;
    > * {
      margin-right: 5px;
    }
  }

  &_category,
  &_keyword {
    border: 1px solid #eee;
    display: inline-block;
    margin: 0 5px 3px 0;
    padding: 0 10px;
  }

  &_categories,
  &_keywords {
    > label {
      margin-right: 5px;
    }
  }

  &_iconCounts {
    color: #c7c7c7;
    display: flex;
    justify-content: flex-end;
    button {
      padding: 0 10px;
      height: auto;
    }
  }

  &_sourceRow {
    > * {
      margin-right: 5px;
    }
  }

  &_statusCol {
    padding-left: 10px;
    text-align: right;
  }

  &_title {
    font-weight: bold;
    display: block;
  }

  &__expanded {
    .sol_descriptionBox {
      height: auto;
    }
  }

  &[data-variant="compact"] {
    .sol_descriptionBox,
    .sol_sourceRow,
    .sol_keywords,
    .sol_categories,
    .sol_notes,
    .sol_comments {
      display: none;
    }
    .sol_datesCol {
      margin-bottom: 5px;
    }
  }
}

.sol_statusItem_researching,
.sol_statusItem_pursuing,
.sol_statusItem_preApproval,
.sol_statusItem_submitted,
.sol_statusItem_negotiation,
.sol_statusItem_awarded {
  color: map.get(variables.$statusColors, "submitted");
}
.sol_statusItem_rfps,
.sol_statusItem_monitor,
.sol_statusItem_foia {
  color: map.get(variables.$statusColors, "rfps");
}
.sol_statusItem_erp {
  color: map.get(variables.$statusColors, "erp");
}
.sol_statusItem_notWon {
  color: map.get(variables.$statusColors, "notWon");
}
.sol_statusItem_notPursuing {
  color: map.get(variables.$statusColors, "notPursuing");
}
