.sol {
  border-bottom: 1px solid #eee;
  display: flex;
  padding: 5px 10px 0 10px;

  &_contentCol {
    flex: 1 1 100%;

    label {
      margin-right: 5px;
    }
  }

  &_datesCol {
    display: flex;
    gap: 20px;
  }

  &_description {
    color: #666;
    display: block;
    margin-bottom: 5px;
  }

  &_descriptionBox {
    margin-top: 5px;
  }

  &_externalLinks {
    a {
      display: block;
      white-space: nowrap;
      max-width: 50vw;
    }
  }

  &_issuerRow {
    white-space: nowrap;
    > * {
      margin-right: 5px;
    }
  }

  &_category,
  &_keyword {
    border: 1px solid #eee;
    display: inline-block;
    margin: 0 5px 3px 0;
    padding: 0 10px;
  }

  &_categories,
  &_keywords {
    > label {
      margin-right: 5px;
    }
  }

  &_iconCounts {
    color: gray;
    display: flex;
    justify-content: flex-end;
  }

  &_ourStatus {
    margin-bottom: 5px;
    > button {
      margin-left: auto;
    }
    &[data-status="new"] {
      > button {
        @extend .sol_statusItem_new;
      }
    }
    &[data-status="ignore"],
    &[data-status="notPursuing"] {
      > button {
        @extend .sol_statusItem_ignore;
      }
    }
    &[data-status="pursuing"],
    &[data-status="processing"] {
      > button {
        @extend .sol_statusItem_pursuing;
      }
    }
    &[data-status="applied"] {
      > button {
        @extend .sol_statusItem_applied;
      }
    }
  }

  &_sourceRow {
    > * {
      margin-right: 5px;
    }
  }

  &_statusCol {
    padding-left: 10px;
    text-align: right;
  }

  &_title {
    font-weight: bold;
    display: block;
  }

  &__expanded {
    .sol_descriptionBox {
      height: auto;
    }
  }

  &[data-variant="compact"] {
    .sol_descriptionBox,
    .sol_sourceRow,
    .sol_keywords,
    .sol_categories,
    .sol_notes,
    .sol_comments {
      display: none;
    }
    .sol_datesCol {
      margin-bottom: 5px;
    }
  }
}

.sol_statusItem_new {
  background-color: inherit;
  color: inherit;
}
.sol_statusItem_ignore,
.sol_statusItem_notPursuing {
  background-color: #eee;
  color: gray;
}

.sol_statusItem_pursuing,
.sol_statusItem_processing {
  background-color: lightgreen;
}

.sol_statusItem_applied {
  background-color: green;
  color: white;
}
