.sol {
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 10px;
  padding-left: 0;

  &_contentCol {
    flex: 1 1 100%;

    label {
      margin-right: 10px;
    }
  }

  &_datesCol {
    padding-left: 10px;
    text-align: right;
    white-space: nowrap;
    > * {
      display: block;
    }
    > span {
      margin-bottom: 5px;
    }
  }

  &_description {
    color: #666;
    display: block;
    margin-bottom: 5px;
  }

  &_descriptionBox {
    overflow: hidden;
    margin-top: 5px;
    text-overflow: ellipsis;
    height: 22px;
  }

  &_externalLinks {
    a {
      display: block;
      white-space: nowrap;
      max-width: 50vw;
    }
  }

  &_issuerRow {
    > * {
      margin-right: 5px;
    }
  }

  &_category,
  &_keyword {
    border: 1px solid #eee;
    display: inline-block;
    margin: 0 5px 3px 0;
    padding: 0 10px;
  }

  &_categories,
  &_keywords {
    > label {
      margin-right: 5px;
    }
  }

  &_ourStatus {
    margin-bottom: 5px;
    > button {
      margin-left: auto;
    }
  }

  &_sourceRow {
    > * {
      margin-right: 5px;
    }
  }

  &_title {
    font-weight: bold;
    display: block;
  }

  &__expanded {
    .sol_descriptionBox {
      height: auto;
    }
  }
}
