@use "sass:map";
@use "../variables";

.topBar {
  display: flex;
  gap: 5px;
  &_filter {
    margin-left: auto;
  }
  &_search {
    width: 170px;
  }
  &_tab {
    &__submitted,
    &__researching,
    &__pursuing,
    &__preApproval,
    &__negotiation {
      color: map.get(variables.$statusColors, "submitted");
    }
    &__rfps {
      color: map.get(variables.$statusColors, "rfps");
    }
    &__erp {
      color: map.get(variables.$statusColors, "erp");
    }
    &__awarded {
      color: map.get(variables.$statusColors, "awarded");
    }
    &__monitor {
      color: map.get(variables.$statusColors, "monitor");
    }
    &__notWon {
      color: map.get(variables.$statusColors, "notWon");
    }
    &__notPursuing {
      color: map.get(variables.$statusColors, "notPursuing");
    }
  }
}
