@use "sass:map";
@use "../variables";

.cnStatusDropdown {
  &[data-status="submitted"],
  &[data-status="researching"],
  &[data-status="pursuing"],
  &[data-status="preApproval"],
  &[data-status="negotiation"],
  &[data-status="awarded"] {
    > button {
      @extend .sol_statusItem_submitted;
      border-color: map.get(variables.$statusColors, "submitted");
    }
  }
  &[data-status="rfps"],
  &[data-status="monitor"],
  &[data-status="foia"] {
    > button {
      @extend .sol_statusItem_rfps;
      border-color: map.get(variables.$statusColors, "rfps");
    }
  }
  &[data-status="erp"] {
    > button {
      @extend .sol_statusItem_erp;
      border-color: map.get(variables.$statusColors, "erp");
    }
  }
  &[data-status="notWon"] {
    > button {
      @extend .sol_statusItem_notWon;
      border-color: map.get(variables.$statusColors, "notWon");
    }
  }
  &[data-status="notPursuing"] {
    > button {
      @extend .sol_statusItem_notPursuing;
      border-color: map.get(variables.$statusColors, "notPursuing");
    }
  }
}

.topBar {
  display: flex;
  gap: 6px;
  padding: 12px 16px;
  border-bottom: 1px solid var(--border);
  background: var(--card);
  align-items: center;
  flex-wrap: wrap;

  &_filter {
    margin-left: auto;
  }
  &_search {
    flex: 1;
    min-width: 180px;
    max-width: 280px;
  }
  &_tab {
    &__submitted,
    &__researching,
    &__pursuing,
    &__preApproval,
    &__negotiation {
      color: map.get(variables.$statusColors, "submitted");
    }
    &__rfps {
      color: map.get(variables.$statusColors, "rfps");
    }
    &__erp {
      color: map.get(variables.$statusColors, "erp");
    }
    &__awarded {
      color: map.get(variables.$statusColors, "awarded");
    }
    &__foia {
      color: map.get(variables.$statusColors, "foia");
    }
    &__monitor {
      color: map.get(variables.$statusColors, "monitor");
    }
    &__notWon {
      color: map.get(variables.$statusColors, "notWon");
    }
    &__notPursuing {
      color: map.get(variables.$statusColors, "notPursuing");
    }
  }
}

.sol_statusItem_researching,
.sol_statusItem_pursuing,
.sol_statusItem_preApproval,
.sol_statusItem_submitted,
.sol_statusItem_negotiation,
.sol_statusItem_awarded {
  color: map.get(variables.$statusColors, "submitted");
}
.sol_statusItem_rfps,
.sol_statusItem_monitor,
.sol_statusItem_foia {
  color: map.get(variables.$statusColors, "rfps");
}
.sol_statusItem_erp {
  color: map.get(variables.$statusColors, "erp");
}
.sol_statusItem_notWon {
  color: map.get(variables.$statusColors, "notWon");
}
.sol_statusItem_notPursuing {
  color: map.get(variables.$statusColors, "notPursuing");
}
